# API Keys
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
NGROK_AUTHTOKEN=""
GOOGLE_API_KEY=""

# Twilio Configuration
TWILIO_PHONE_NUMBER="+1234567890"

# Gemini Configuration
GEMINI_ASSISTANT_MODEL="gemini-2.5-flash-native-audio-preview-12-2025"
GEMINI_SUMMARIZATION_MODEL="gemini-2.5-flash-lite"

# AutoPhone Configuration
SERVICE_PORT=8080
ASSISTANT_LANGUAGE="English"
ASSISTANT_OWNER_NAME="John"
KEEP_CALLS=5
#WEBHOOK_TARGET_URL="https://webhook-target.example.com"
